<section class="hero">
    <div class="hero__content">
        <h1 class="hero__title">{{ translations().title }}</h1>
        <p class="hero__text">{{ translations().description }}</p>
        <a href="https://origamibogota.com/talleres" class="hero__cta">{{ translations().cta }}</a>
    </div>
    <div class="hero__images">
        <img src="images/horse-joseph.jpeg" alt="" class="hero__image hero__image--1"
            loading="lazy">
        <img src="images/mask2.jpg" alt="" class="hero__image hero__image--2"
            loading="lazy">
    </div>
</section>