<div class="footer" id="contact">
  <div class="footer__column">
    <h2 class="footer__heading">Contáctanos</h2>
    <div class="footer__socials">
      <a href="https://www.facebook.com/origamibogota" target="_blank" class="footer__social-link" aria-label="Facebook">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://api.whatsapp.com/send?phone=573152459839&text=Hola,%20quiero%20solicitar%20m%C3%A1s%20informaci%C3%B3n%20sobre%20el%20evento" target="_blank" class="footer__social-link" aria-label="WhatsApp">
        <i class="fab fa-whatsapp"></i>
      </a>
      <a href="https://www.instagram.com/congresoorigamibogota/" target="_blank" class="footer__social-link" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>

    </div>
    <div class="footer__contact-info">
      <a href="tel:+573152459839" class="footer__link">
        <i class="fas fa-phone-alt"></i> +57 315 245 9839
      </a><br>
      <a href="mailto:inscripciones@origamibogota.com" class="footer__link">
        <i class="fas fa-envelope"></i> {{'inscripciones@origamibogota.com'}}
      </a>
      <a href="mailto:congresoorigamibogota@gmail.com" class="footer__link">
        <i class="fas fa-envelope"></i> {{'congresoorigamibogota@gmail.com'}}
      </a>
    </div>
  </div>
  <div class="footer__column">
    <h2 class="footer__heading">Ubicación del Evento</h2>
    <div class="footer__map-container">
      <iframe class="footer__map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d63631.45904829663!2d-74.0732928!3d4.6000788!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f990040789789%3A0x59aef73bdcfff0c8!2sUniversidad%20del%20Rosario%20-%20Sede%20Claustro!5e0!3m2!1ses!2sco!4v1744686930586!5m2!1ses!2sco" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="footer__address">
      <i class="fas fa-map-marker-alt"></i>
      Universidad del Rosario<br />
      Calle 12C Nº 6-25 - Bogotá D.C. Colombia
    </div>
  </div>
  <div class="footer__column">
    <h2 class="footer__heading">Inscríbete al Evento</h2>
    <p class="footer__text">Participa en el próximo Congreso de Origami Bogotá</p>
    <a href="https://origamibogota.com/inscripciones"  class="footer__cta-button">
      <i class="fas fa-user-plus"></i> Inscríbete Ahora
    </a>
    <div class="footer__quick-links">
      <h4 class="footer__subheading">Enlaces rápidos</h4>
      <a href="https://origamibogota.com" class="footer__link"><i class="fas fa-chevron-right"></i> Inicio</a>
      <a href="https://origamibogota.com/inscripciones" class="footer__link"><i class="fas fa-chevron-right"></i> Inscripciones</a>
      <a href="https://origamibogota.com/talleres" class="footer__link"><i class="fas fa-chevron-right"></i> Talleres</a>
    </div>
  </div>
</div>
<div class="footer__bottom">
  <div class="footer__bottom-container">
    <img src="images/elementor/thumbs/cropped-AP-2-qep957ie0pzbkwpdzf4c2r01boqxpvvlttrkjq3bvs.png" alt="Logo" class="footer__logo" />
    <p class="footer__rights">© 2025 Congreso Origami Bogotá. Todos los derechos reservados.</p>
    <p class="footer__credits">Diseño por <a href="https://instagram.com/david_paperfold" class="footer__credit-link" target="_blank" >{{'@david_paperfold'}}</a></p>
  </div>
</div>
