<div class="steps-hero">
  <div class="steps-hero-content">
    <div class="announcement">
      <i class="fas fa-star-of-life announcement-icon"></i>
      <h1>¡Las inscripciones están abiertas!</h1>
    </div>
    
    <div class="instructions">
      <h2>¿Cómo realizo mi inscripción?</h2>
      <p>En esta oportunidad, la inscripción se debe realizar siguiendo estos dos pasos.</p>
    </div>
    
    <div class="steps">
      <div class="step">
        <div class="step-number">1</div>
        <div class="step-details">
          <h3>Paso I</h3>
          <p>Realiza el pago de tu inscripción escogiendo cualquiera de nuestros métodos de pago, aprovecha las ofertas por etapas.</p>
          <button class="step-action" (click)="scrollToSection('step1')">
            <i class="fas fa-credit-card"></i> Métodos de pago
          </button>
        </div>
      </div>
      
      <div class="step-connector">
        <i class="fas fa-chevron-down"></i>
      </div>
      
      <div  class="step">
        <div class="step-number">2</div>
        <div class="step-details">
          <h3>Paso II</h3>
          <p>Si ya escogiste y completaste tu pago, Regístrate en el formulario para que puedas acceder a los talleres.</p>
          <button class="step-action" (click)="scrollToSection('step2')">
            <i class="fas fa-user-plus"></i> Formulario de registro
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
