@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #3D4451;
  --secondary-color: #F59E0B;
  --accent-color: #06B6D4;
  --light-color: #FAFAF9;
  --dark-color: #18181B;
  /* ...agrega más variables si es necesario... */
}

html, body {
  box-sizing: border-box;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--primary-color); /* Fondo primary global */
  color: var(--light-color); /* Texto claro para contraste */
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-size: 2rem;
  color: var(--primary-color);
  margin: 0;
  font-weight: 500; /* Reduce the boldness */
}

/* Estilos para la barra de scroll en modo oscuro */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--dark-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 10px;
  border: 3px solid var(--dark-color);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-color) var(--dark-color); /* Corrected typo 'b' */
}


