<div class="guests" id="guests">
	<div class="guests__column guests__column--right">
		<div class="guests__text-content">
			<h2 class="guests__header">Invitados</h2>
			<p class="guests__description">Cada año hay un invitado internacional y uno nacional, por lo que para muchos ésta es una oportunidad única de conocer de primera mano a origamistas muy reconocidos...</p>
		</div>
	</div>
	<div class="guests__column guests__column--left">
		<div class="guests__profiles-wrapper">
			<div class="guests__profile" *ngFor="let guest of guests">
				<img [src]="guest.photoUrl" [alt]="'Foto de ' + guest.name" class="guests__profile-photo">
				<div class="guests__profile-info">
					<h3 class="guests__name">{{ guest.name }}</h3>
					<a class="guests__profile-instagram" [href]="guest.instagramUrl" target="_blank">{{ guest.instagram }}</a>
					<p class="guests__type">{{ guest.type }}</p>
					<div class="guests__profile-biography">
						<p>{{ guest.biography }}</p>
					</div>
				</div>
			</div>
			<!-- ...other possible guests... -->
		</div>
	</div>
</div>
