<section class="hero">
    <div class="hero__content">
        <h1 class="hero__title">¡Comparte tu Pasión! <br> Sé Tallerista en Nuestro Evento</h1>
        <p class="hero__text">
            Buscamos mentes creativas como la tuya para inspirar y enseñar en nuestro próximo evento.
            Si tienes un modelo de origami para enseñar, que quieras compartir,¡queremos conocer tu propuesta!
        </p>
        <a href="https://origamibogota.com/talleres" class="hero__cta">Proponer un Taller Ahora</a>
        <!-- El href debería apuntar al ID de tu sección de formulario -->
    </div>
    <div class="hero__images">
        <!-- Reemplaza estas URLs con las de tus propias imágenes -->
        <!-- Usa imágenes con fondos transparentes (PNG) si quieres una superposición más limpia -->
        <img
            src="images/434621928_966817994806002_103268259887613572_n.jpg"
            alt="Personas colaborando en un taller"
            class="hero__image hero__image--1"
            loading="lazy">
        <img
            src="images/52845114767_1f979984b8_c.jpg"
            alt="Persona presentando ideas en una pizarra"
            class="hero__image hero__image--2"
            loading="lazy">
        <img
            src="images/8519045788_6c9b9492af_h.jpg"
            alt="Grupo diverso aprendiendo juntos"
            class="hero__image hero__image--3"
            loading="lazy">
            
    </div>
</section>

